html, body {
  height: 100%;
  width: 100%;
}

/***** header style start *****/

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    max-width: 100%;
}

.header-logo-col{
    align-items: left;
}

.header-button-col{
    align-items: right;
}

.header-text {
    font-family: 'Montez', cursive;
    color: blue;
}

.header-subtext {
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.header-button {   
    text-align: center;
    background-color: blue;
    margin: 5px;
    border: 2px outset gainsboro ;
}

/***** header style end *****/

/***** All Modal Box common style start *****/

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password], textarea {
    width: 100%;
    box-sizing: 25px;
    height: 40px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.hr-class {
    border: 1px solid #6c757d;
    margin-bottom: 5px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #ddd;
  outline: auto blue    ;
}

textarea{
  height: 251px;
}

.modal-container {
  padding: 16px;
  text-align: left;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 0;
    background-color: #000000bf;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  height: auto;
}

/* Style the horizontal ruler */
.hr-class {
    border: 1px solid gray;
    margin-bottom: 25px;
    margin: 5px 0 5px 0;
}
.modal-title{
    font-weight: normal;
    font-size: x-large;
    color: #6c757d;
    display: inline-block;
    width: 95%;
}

.modal-close {
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
}

label {    
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/***** All Modal Box common style end *****/

/***** Sign-in Modal Box style start *****/

.class-signin-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: auto auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 35px;
    margin-top: 15px;
}

#signin-modal-content {
  min-width: 400px;
  min-height: 350px;
}

/***** Sign-in Modal Box style end *****/

/***** Sign-up Modal Box style start *****/

.class-create-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: auto auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 35px;
  margin-top: 15px;
}

.create-btn-div {
  text-align: center;
}

.modal-suffix-msg{
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
}

#signup-hyper-link { 
  color: blue;
  cursor: pointer;
}

#signup-hyper-link:hover {
  text-decoration:underline;
}

#signup-modal-content {
  min-width: 400px;
  min-height: 500px;
}

/***** Sign-up Modal Box style end *****/