.header1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    max-width: 100%;
}

.header1-logo-col{
    align-items: left;
}

.header1-button-col{
    align-items: right;
}

.header1-text {
    font-family: 'Montez', cursive;
    color: blue;
}

.header1-subtext {
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.header1-button {    
    background-color: blue;
    margin: 5px;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}