.post-page {
    margin-left: 50px;
    margin-right: 50px;
}

.post-title {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.post-author {
    font-family: fantasy;
    font-size: x-large;
}

.save-edit-button {
    background-color: red;
    color: white;
    margin: 15px 0 15px 0px;
    padding: 5px 15px 5px 15px;
}

.author-edit-button-area {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0px;
}

.like-comment-button {
    background-color: red;
    color: white;
    margin: 0px 0 15px 0px;
    padding: 5px 15px 5px 15px;
}

.post-content {
    display: flex;
    text-align: justify;
    margin: 15px 0 15px 0px;
}

.like-summary {
    color: gray;
}
   
.comment-area {
    display: block;
    width: 70%;
    height: 70px;
    background-color: white;
    border: 1px solid gray;
    padding: 0;
    margin: 15px 0 15px 0px;
}
.comments-display-area {
    background-color: white;
    border: 10px solid lightgray;
    margin: 15px 0 15px 0px;
    width: 70%;
}

.comment-class {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray
}

#save-button-id {
    display: none;
}