body {
    background-color: #ffeedd;
    background-size: 100% 100%;
  }

.card-class {
    display: flex;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    max-width: 50%;
}

.post-author{
    flex: 0 0 16.666667%;
    max-width: 15%;
    font-weight: bold;
    color: gray;
}

.post-content {
    background: #dee2e6;
    border-radius: 0 20px 20px 0;
}

.post-title{
    color: gray;
    font-weight: 500;
}

